body {
	margin: 0;
}

#banner1 {
	display: block;
	background-color: #7FFFBB;
	height: 50px;
	width: 100%;
}

#menu {
	width: 100%;
	height: 100px;
	position: relative;
	background-color: #27BE6E;
}

#banner2 {
	display: block;
	background-color: #7FFFBB;
	height: 50px;
	width: 100%;
}